<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://db:3306/wait_time_management"/>
        <property name="username" value="wait_time_management"/>
        <property name="password" value="Wru48vWy"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper class="com.waittime.backend.db.mapper.WaitingRoomMapper" />    
    <mapper resource="mappers/DimPatientMapper.xml" />
    <mapper resource="mappers/DimProcedureMapper.xml" />
    <mapper resource="mappers/DimProcedureStatusMapper.xml" />
    <mapper resource="mappers/DimRoomMapper.xml" />
    <mapper resource="mappers/DimRoomStatusMapper.xml" />
    <mapper resource="mappers/DimRoomTypeMapper.xml" />
  </mappers>
</configuration>
